* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dcf2f1cf;
}

#createTodoDescrip {
  padding: 10px 12px;
  background-color: #242424;
}

#createBTN:hover {
  background-color: #242424;
}
