* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dcf2f1cf;
}

#createTodoDescrip {
  padding: 10px 12px;
  background-color: #1f2544;
  color: #9400ff;
}

#createBTN:hover {
  background-color: #1f2544;
  color: #9400ff;
}
::-webkit-input-placeholder {
  color: #9400ff;
}
